#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;

}

ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

li a{
  text-decoration: none;
  color: rgba(6, 221, 221, 0.685);
}
li a:hover{
  color: rgb(11, 48, 172);
}
.linkReact{
color: rgb(235, 60, 244);
}
.linkReact:hover{
  text-decoration:line-through;
color: rgb(80, 249, 204);
}
.logoReact{
  width: 30px;
}
.carrito img{  
  width: 40px;
}
.botones{
  display: flex;
  justify-content: center;
}

.spinner-border{
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0);
}
.filas{
  justify-content: center;
  display: flex;
}
.navbar{
  background-color: rgba(2, 23, 72, 0.873);
}
/*  */
.navIcono{
  color: white;
}

.containerCard{
  margin: 3rem;
  display: flex;
  justify-content: center;
}
.perfumes{
  width: 160px;
}
/* From uiverse.io by @mrhyddenn */
.loader {
  width: 6em;
  height: 6em;
  font-size: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate023845 3s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: rgb(210, 62, 96);
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: rgba(2, 23, 72, 0.873);
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(101, 132, 31, 0.075);
}

@keyframes animate023845 {
  to {
    transform: rotate(1turn);
  }
}
.botonCart {
  width: 12rem;
  margin: 7px;
}
.btnBuy{
  width: 7rem;
}
.navegador{
  margin: 6rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home:hover{
  color:rgb(172, 78, 10);
}
.man:hover{
  color:rgb(10, 134, 188);
}
.women:hover{
  color:rgb(254, 72, 194);
}